@font-face {
    font-family: 'DIN Alternate';
    src: url('../fonts/DINAlternate-Bold.eot');
    src: url('../fonts/DINAlternate-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DINAlternate-Bold.woff2') format('woff2'),
        url('../fonts/DINAlternate-Bold.woff') format('woff'),
        url('../fonts/DINAlternate-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

